In [30]:
import pandas as pd

In [31]:
df1 = pd.read_csv('survey_results_public.csv')
df = df1.copy()
df.columns

Index(['ResponseId', 'Q120', 'MainBranch', 'Age', 'Employment', 'RemoteWork',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'LearnCodeCoursesCert', 'YearsCode', 'YearsCodePro', 'DevType',
       'OrgSize', 'PurchaseInfluence', 'TechList', 'BuyNewTool', 'Country',
       'Currency', 'CompTotal', 'LanguageHaveWorkedWith',
       'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith',
       'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith',
       'PlatformWantToWorkWith', 'WebframeHaveWorkedWith',
       'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith',
       'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith',
       'ToolsTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'OpSysPersonal use',
       'OpSysProfessional use', 'OfficeStackAsyncHaveWorkedWith',
       'OfficeStackAsyncWantToWorkWith', 'OfficeStackSyncHaveWorkedWith',
       'OfficeStackSyncWantToWorkWith', 'AISearchHaveWorkedWith',
       'AISearchWantToWorkWith', 'AIDevHaveWorkedWith', 'AIDevWantToWorkWith',
       'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq', 'SOComm',
       'SOAI', 'AISelect', 'AISent', 'AIAcc', 'AIBen',
       'AIToolInterested in Using', 'AIToolCurrently Using',
       'AIToolNot interested in Using', 'AINextVery different',
       'AINextNeither different nor similar', 'AINextSomewhat similar',
       'AINextVery similar', 'AINextSomewhat different', 'TBranch', 'ICorPM',
       'WorkExp', 'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4',
       'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Knowledge_8',
       'Frequency_1', 'Frequency_2', 'Frequency_3', 'TimeSearching',
       'TimeAnswering', 'ProfessionalTech', 'Industry', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [38]:
df.shape

(89184, 22)

### Clean data for better Analysis
#### select relevant columns only
#### Handle Duplicated & Null values

In [33]:

df = df[['ResponseId','MainBranch','Age', 'Employment', 'RemoteWork', 'EdLevel', 'YearsCode','DevType', 'Country', 'CompTotal', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith', 'PlatformWantToWorkWith', 'WebframeHaveWorkedWith', 'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith']]
df.shape

(89184, 22)

In [34]:
df.head(2)

,ResponseId,MainBranch,Age,Employment,RemoteWork,EdLevel,YearsCode,DevType,Country,CompTotal,...,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith
0,1,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18,"Senior Executive (C-Suite, VP, etc.)",United States of America,285000.0,...,Supabase,Firebase Realtime Database;Supabase,Amazon Web Services (AWS);Netlify;Vercel,Fly.io;Netlify;Render,Next.js;React;Remix;Vue.js,Deno;Elm;Nuxt.js;React;Svelte;Vue.js,Electron;React Native;Tauri,Capacitor;Electron;Tauri;Uno Platform;Xamarin,Docker;Kubernetes;npm;Pip;Vite;Webpack;Yarn,Godot;npm;pnpm;Unity 3D;Unreal Engine;Vite;Web...

In [35]:
# check for null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89184 entries, 0 to 89183
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ResponseId               89184 non-null  int64
 1   MainBranch               89184 non-null  object
 2   Age                      89184 non-null  object
 3   Employment               87898 non-null  object
 4   RemoteWork               73810 non-null  object
 5   EdLevel                  87973 non-null  object
 6   YearsCode                87435 non-null  object
 7   DevType                  76872 non-null  object
 8   Country                  87973 non-null  object
 9   CompTotal                48225 non-null  float64
 10  LanguageHaveWorkedWith   87140 non-null  object
 11  LanguageWantToWorkWith   80709 non-null  object
 12  DatabaseHaveWorkedWith   73435 non-null  object
 13  DatabaseWantToWorkWith   60911 non-null  object
 14  PlatformHaveWorkedWith   63628 non-null  object
 15  PlatformWantToWorkWith   51308 non-null  object
 16  WebframeHaveWorkedWith   66938 non-null  object
 17  WebframeWantToWorkWith   56741 non-null  object
 18  MiscTechHaveWorkedWith   57019 non-null  object
 19  MiscTechWantToWorkWith   46848 non-null  object
 20  ToolsTechHaveWorkedWith  77884 non-null  object
 21  ToolsTechWantToWorkWith  68315 non-null  object
dtypes: float64(1), int64(1), object(20)
memory usage: 15.0+ MB

In [36]:
df.MainBranch.value_counts()

MainBranch
I am a developer by profession                                                           67237
I am not primarily a developer, but I write code sometimes as part of my work/studies     8954
I am learning to code                                                                     4961
I code primarily as a hobby                                                               4960
I used to be a developer by profession, but no longer am                                  1861
None of these                                                                             1211
Name: count, dtype: int64