Cars Dataset

Here,  The data of different cars is given with their specifications
This data is available as a CSV file we are going to analyze this data set using the Pandas DataFrame

In [19]:
import pandas as pd
import numpy as np

In [20]:
car = pd.read_csv("2. Cars Data1.csv")

In [21]:
car.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0

In [22]:
car.shape

(432, 15)

Instruction (For Data Cleaning)
* Find the Null value in the dataset if there is any null value in any column. then fill it with the mean of that column.

In [26]:
# Check for null values in each column
null_counts = car.isnull().sum()
print(null_counts)

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

In [28]:
car['Make'].fillna(car['Make'].mean(), inplace=True)

TypeError: can only concatenate str (not "int") to str